<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spondere">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_spondere_ico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_spondere_ico_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.Spondere"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Account"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StudentList"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FrequencyValidation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisciplineClasses"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageFrequency"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisciplineDetail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfessorHome"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClassManager"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Biometry"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait"
            android:alwaysRetainTaskState="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>